<div>
  <div class="name">
	<p><%= tweet.user.name %></p>
  </div>
  <div class="tweet-body">
	<p><%= tweet.body %></p>
  </div>
  <div class="posted_at">
	<p><%= tweet.created_at %></p>
  </div>
</div>
